@font-face {
    font-family: 'myFont';
    src: url('./font.woff')format('woff2');
    src: url('./font.woff2')format('woff');
    font-weight: 600;
    font-style: normal;
}
.hello{
    color: red;
   /* font-size: 20px;*/
    font-family: 'myFont';   
}

body{
    background: rgba(255,0,0,.1)
}